body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.app-bar {
    background: #ccc;
}

#logo {
    color: #204;
}

button {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:focus {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #eee;
    border: 1px solid #aaa;
}

input {
    background: transparent;
    border-left: 1px transparent;
    border-right:1px transparent;
    border-top: 1px transparent;
    border-bottom: 1px #ccc dashed;
    margin-bottom: 3px;
}

input:focus {
    background: transparent;
    border: 1px #ccc dashed;
    outline: none;
}

.close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    float: right;
}

.close-button:hover {
    color: red;
    border: none;
    background: transparent;
}

